<body class="About">
<h1 class="about">About Me</h1>
<p class="para">Hi, I am Shreya Mohanty...a lazy and enthusiatic person at the same time. Currently I am learning both frontend and backend development. My hobbies might be sleeping and watching mobile...also creating macrame pieces,drawing, reading novels and listening to music.</p>
</body>

<style>
 .about{
   color: #FFFDD0;
   font-style: italic;
   font-family: "Pacifico", cursive;
   font-weight: 400;
   font-size: 100px;
 }

 .para{
   color: black;
   font-size: 20px;
   font-family: cursive;
   font-style: italic;
 }
 .About{
   background-color: #9FE2BF;
 }
</style>